<h3>Employee List <small>({{ employeeList.length }})</small></h3>
<br>
<button class="btn btn-primary" (click)="createEmployee()">Create</button>
<br>
<table *ngIf="employeeList.length > 0" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Age</th>
            <th>Position</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeeList">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.lastname }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.position }}</td>
            <td>
                <button class="btn btn-secondary" (click)="updateEmployee(employee)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
<app-edit-employee [show]="showEditEmployee" [employee]="employeeToEdit" (employeeUpdated)="getEmployeeList()" (toggleEditEmployee)="toggleEditEmployee()"></app-edit-employee>